body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

h2 {
    color: #343a40;
}

.card {
    text-align: center;
}

.card button {
    margin-top: 10px;
}

footer {
    margin-top: 20px;
    background-color: #272500;
}

.navbar {
    background-color: #f89234 !important;
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: white !important;
}

.navbar .nav-link:hover {
    color: #ffd6a5 !important;
}